{% extends 'sidebar.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block big-title %} Accueil {% endblock %}


{% block content %}
<div class="row">
    <div class="col-12 col-sm-4">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Clients</span>
          <span class="info-box-number">{{n_customers}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-box"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Produits</span>
          <span class="info-box-number">{{n_products}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-4">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-tie"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Employés</span>
          <span class="info-box-number">{{n_employees}}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{% endblock %}