{% extends 'sidebar.html' %}
{% load static %}

{% block title %} all products {% endblock %}

{% block big-title %} Tous les Produits {% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
      <h3 class="card-title">Produits</h3>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects">
          <thead>
              <tr>
                  <th style="width: 10%">
                      Photo
                  </th>
                  <th style="width: 10%">
                      Nom
                  </th>
                  <th style="width: 30%">
                      Description
                  </th>
                  <th style="width: 5%" class="text-center">
                      Prix (euros)
                  </th>
                  <th style="width: 10%" class="text-center">
                      Stock
                  </th>
                  <th style="width: 5%">
                  </th>
              </tr>
          </thead>
          {% for product in all_products %}
          <tbody>
              <tr>
                  <td>
                    <img alt="Avatar" class="table-avatar" src="{{product.photo}}">
                  </td>
                  <td>
                      {{product.name}}
                  </td>
                  <td>
                      {{product.description}}
                  </td>
                  <td>
                      {{product.off_the_shelf_price}}
                  </td>
                  <td>
                      {{product.stock}} {{product.unit_stock}}
                  </td>
                  <td class="project-actions text-right">
                      <a class="btn btn-primary btn-sm" href="{% url 'product' id=product.id %}">
                          <i class="fas fa-folder"></i>
                          View
                      </a>
                  </td>
              </tr>
            </tbody>
            {% endfor %}
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
{% endblock %}