{% extends 'sidebar.html' %}
{% load static %}

{% block title %} customer {% endblock %}

{% block big-title %} Client {% endblock %}


{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                <div class="card-header">
                    <h3 class="card-title" id="company">{{visit_card.company}}</h3>
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    </div>
                </div>
                <div class="card-body box-profile">
                    <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="{{visit_card.photo}}"
                         alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">{{visit_card.first_name}} {{visit_card.surname}}</h3>

                    <p class="text-muted text-center">{{visit_card.job}}</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                        email:   <b>{{visit_card.email}}</b>
                        </li>
                        <li class="list-group-item">
                        adresse:   <b>{{visit_card.adress}}</b>
                        </li>
                        <li class="list-group-item">
                        {{web_adress.site_name}}:   <b>{{web_adress.web_adress}}</b>
                        </li>
                    </ul>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a href='{% url "update_customers" id=visit_card.id %}' class="btn btn-warning">Modifier les données du client</a>
                    <div class="btn-group btn-group-sm float-right">
                      <a href="{% url 'delete_customer' id=visit_card.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                    </div>
                </div>
                <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
            </div>
        </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}